<!DOCTYPE html >
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:300' rel='stylesheet' type='text/css'>
	<!--
	<link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.css"/>
	<link rel="stylesheet" type="text/css" href="css/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/origami.css"/>
	<link rel="stylesheet" type="text/css" href="css/responsive.css"/>
	<link rel="stylesheet" type="text/css" href="css/style-purple.css"/> -->
	<%=stylesheet_link_tag "font-awesome/font-awesome.css"%>
	<%=stylesheet_link_tag "normalize"%>
	<%=stylesheet_link_tag "style"%>
	<%=stylesheet_link_tag "origami"%>
	<%=stylesheet_link_tag "responsive"%>
	<%=stylesheet_link_tag "style-purple"%>
	
    <!--[if lte IE 7]>
  		<link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome-ie7.min.css">
	<![endif]-->
	<!--[if lte IE 8]>
        <link rel="stylesheet" href="css/ie8.css"/>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	<!--
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.js"></script>
	<script type="text/javascript" src="js/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript" src="js/jquery.cycle2.js"></script>
    <script type="text/javascript" src="js/origami.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
	<script type="text/javascript" src="js/responsive-nav.js"></script>
	<script type="text/javascript" src="js/jquery.lavalamp.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script> -->
	<%=javascript_include_tag "jquery-1.9.1.min.js"%>
	<%=javascript_include_tag "jquery.easing.js"%>
	<%=javascript_include_tag "jquery-ui-1.10.3.custom.js"%>
	<%=javascript_include_tag "jquery.cycle2.js"%>
	<%=javascript_include_tag "origami.js"%>
	<%=javascript_include_tag "responsive-nav.js"%>
	<%=javascript_include_tag "jquery.lavalamp.min.js"%>
	<%=javascript_include_tag "script.js"%>
	
	
	<!--[if lt IE 9]>
	  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<title>SocialSway - Facebook Marketing for Healthcare</title>
</head>
<body>
	<!-- HEADER -->
	<header>
		<div class="md-nav-wrap">
			<div id="md-navbar" class="md-navbar">
				<div class="wrap1120 clearfix">
					<div class="grid_16">
						<div class="md-logo">
							<h1 class="rs"><a href="#">SocialSway</a></h1>
							<%= image_tag("logo.png", alt: "SocialSway")%>
							<!--<img src="images/logo.png" alt="">-->
							<!--<span>Social. Healthcare. _________.</span>-->
						</div>
						<div class="arrow"></div>
						<nav id="nav" class="md-menu">
							<ul class="rs clearfix lavaLamp">
								<li><a href="#">Home</a></li>
								<li><a href="#md-features">Mission</a></li>
								<li><a href="#md-technology">Technology</a></li>
								<li><a href="#md-pricing2">Team</a></li>
							<!--<li><a href="#md-testimonials">Testimonials</a></li>
								<li><a href="#buy-now">Buy</a></li> -->
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div><!-- /.md-nav-wrap -->
		
		<div id="md-spotlight" class="md-spotlight">
			<div class="md-pt-slide">
				<%= image_tag("photo.jpg", alt: "There was supposed to be something here....")%>
			</div>	
			<div class="wrap1120">
				<div class="grid_16">
					<div class="md-intro"> 
						<h1 class="rs md-title" id="landing-title">Introducing SocialSway</h1>
						<p class="md-description">Facebook Marketing for Healthcare</p>
					</div>
					<div class="md-review">
						<div class="md-pt-review">
							<%= image_tag("review.png", alt: "")%>
						</div>
						<!--
						<div class="md-icon-point-1 md-icon-dialog">
							<div class="md-dialog" style="display: none;">
								<h2 class="rs">Awesome product</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							</div>
						</div>
						<div class="md-icon-point-2 md-icon-dialog">
							<div class="md-dialog" style="display: none;">
								<h2 class="rs">Awesome product</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							</div>
						</div>
						<div class="md-icon-point-3 md-icon-dialog">
							<div class="md-dialog" style="display: none;">
								<h2 class="rs">Awesome product</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
							</div>
						</div>
						-->
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</header>
	<!-- /HEADER -->

	<!-- MAIN BODY -->
	<div class="md-main-body">
		<section id="md-features" class="md-features">
			<div class="md-box">
				<div class="wrap1120">
					<div class="grid_16 md-content">
						<h1 class="md-title rs">What We Do</h1>
						<p class="md-description">Powered by proprietary predictive algorithms, SocialSway is the smartest solution for healthcare corporations looking to identify, engage, and sustain audiences on Facebook.</p>
						<div class="md-list-features clearfix">
                            <div class="origami">
                                <div class="kami">
                                    <i class="icon-gears"></i>
                                    <span class="name-feature">Increase Reach</span>
                                </div>
                                <div class="kami origami-content">
                                    <i class="icon-gears"></i>
                                    <span class="name-feature">Increase Reach</span>
                                    <p>Automatically discover and deploy messages to new target audiences in real time, increasing your reach and the number of "likes" on your Facebook page.</p>
                                </div>
                            </div><!-- /.(Increase Reach) -->
                            <div class="origami">
                                <div class="kami">
                                    <i class="icon-comments-alt"></i>
                                    <span class="name-feature">Sustain Buzz</span>
                                </div>
                                <div class="kami origami-content">
                                    <i class="icon-comments-alt"></i>
                                    <span class="name-feature">Sustain Buzz</span>
                                    <p>Identify and engage key influencers in your audience. Increase your "talking about this" attribute on Facebook to keep your audience buzzing and maintain your image.</p>
                                </div>
                            </div><!-- /.(Sustain Buzz) -->
                            <div class="origami">
                                <div class="kami">
                                    <i class="icon-laptop"></i>
                                    <span class="name-feature">Keep Tabs</span>
                                </div>
                                <div class="kami origami-content">
                                    <i class="icon-laptop"></i>
                                    <span class="name-feature">Keep Tabs</span>
                                    <p>Automatically monitor your posts and messages in order to promote positive posts and respond to negative feedback. We make it easy to maintain a trustworthy image.</p>
                                </div>
                            </div><!-- /.(Keep Tabs) -->
                            <div class="origami last">
                                <div class="kami">
                                    <i class="icon-magic"></i>
                                    <span class="name-feature">Get Creative</span>
                                </div>
                                <div class="kami origami-content">
                                    <i class="icon-magic"></i>
                                    <span class="name-feature">Get Creative</span>
                                    <p>Leverage multiple ad types to create captivating messages. Use your existing audience to sponsor your stories, and reach new audiences by suggesting your page.</p>
                                </div>
                            </div><!-- /.(Get Creative) -->
						</div><!-- /.md-list-features -->
						
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</section><!-- #md-features -->

		<section id="md-parallax-1" class="md-parallax-1">
			<div class="parallax-bg"></div>
			<div class="md-box">
				<div class="wrap1120">
					<div class="grid_16 md-content">
						<h1 class="md-title rs">It's Not Rocket Science</h1>
						<p class="md-description">...but actually it kind of is. SocialSway leverages advanced mathematics to effectively map your social presence with a very high accuracy so that we can tell you who to target to grow your audience and who to engage to increase activity within your existing audience. <br> <br> We realize how important it is for healthcare companies to form trusting, and lasting, relationships with their audiences. So let us deal with finding the right audience for your company, so that you can concentrate on what you do best. </p>
						<!--<div class="md-btn-group"><a href="#" class="btn btn-white">LEARN MORE</a></div>-->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</section><!-- #md-parallax-1 -->
		
		

<!--Alternative TECHNOLOGIES SECTION -->

<section id="md-technology" class="md-pricing">
	<div class="md-box">
		<div class="wrap1120">
			<div class="grid_16 md-content">
				<h1 class="md-title rs">Solutions</h1>
				<p class="md-description">SocialSway's technology integrates Facebook's APIs with our own predictive algorithms. We work to provide smart advertising solutions that reduce subjectivity typically found in these types of campaigns, instead focusing on objective math to guide our decisions.  </p>
				<div class="pricing-table clearfix">
					<div class="grid_4 ml135percent">
						<h2 class="package">Active Targeting</h2>
						<span class="pricing">Build Your Audience</span>
						<ul class="rs feature">
							<li><span class="bold">Target Goals</span><br> let you set reach and budget targets for your campaign. </li>
							<li><span class="bold">Automated Targeting</span><br> recommends clusters of audiences to target in real time based on specific Facebook attributes and past response data, allowing you to efficiently build a following while increasing CTRs and acquisition rates. </li>
							<li><span class="bold">Optimized Bidding</span> <br>allocates your budget in the most effective way to capture your targets.</li>
							<li><span class="bold">Creative Selection</span><br> gives recommendations as to which types of ads would be most effective in regards to the audience you are targeting.</li>
							<li><span class="bold">Layered Structuring</span> <br>enables and organizes the deployment of multiple campaigns simultaneously for different target audiences.</li>
						</ul>
						<!--<a href="#" class="btn btn-color btn-green">Choose plan</a>-->
					</div>
					<div class="grid_4">
						<h2 class="package">Active Engagement</h2>
						<span class="pricing">Sustain Your Audience</span>
						<ul class="rs feature">
							<li><span class="bold">Influence Analysis</span> <br>ranks your existing audience based on connections and loyalty, spotting active influencers in your network.</li>
							<li><span class="bold">Network Visualization</span> <br>tracks your influencers across the social landscape, giving you insights into their traits.</li>
							<li><span class="bold">Activity Generator</span> <br>sets a minimum threshold for the number of people talking about you, automatically deploying messages to ensure that your buzz never drops below that level.</li>
							<li><span class="bold">Post Mapping</span><br> ranks your most effective posts for different audience clusters. <br><br><br><br><br><br><br><br><br> </li>
							
						</ul>
						<!--<a href="#" class="btn btn-color btn-orange">Choose plan</a>-->
					</div>
					<div class="grid_4">
						<h2 class="package">Active Monitoring</h2>
						<span class="pricing">Monitor Your Presence</span>
						<ul class="rs feature">
							<li><span class="bold">Momentum Tracking</span> <br>tracks how many people are talking about you, and projects your buzz trends.</li>
							
							<li><span class="bold">Opinion Awareness</span> <Users><br> monitors what others are saying about you on Facebook, bringing attention to both positive and negative posts. </li>
							<li><span class="bold">Social History</span><br> allows you to visualize your social presence over your lifetime, tracking audience growth and interaction. <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></li>
						</ul>
						<!--<a href="#" class="btn btn-color btn-blue">Choose plan</a>-->
					</div>
				</div><!-- /.pricing-table -->
			</div>
			<div class="clear"></div>
		</div>
	</div>
</section><!-- #md-pricing -->

<!--End of ALTERNATIVE TECHNOLOGIES SECTION -->



		<section id="md-parallax-2" class="md-parallax-2">
			<div class="parallax-bg"></div>
			<div class="md-box">
				<div class="wrap1120">
					<div class="grid_16 md-content">
						<h1 class="md-title rs">Completely Automated</h1>
						<p class="md-description">We create all of our technologies with a focus on automated computing. As we run your campaigns through our system, our algorithms start to learn about your brand, giving you intelligent insights into what's working, and what's not, in relation to your social presence. Over time, our systems have the ability to learn enough about you so that we can completely automate the process. You just tell our systems to go and we can dispatch effective campaigns that will fit your needs.  <br><br>  </p>
						<!--<div class="md-btn-group"><a href="#" class="btn btn-white">LEARN MORE</a></div>-->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</section><!-- #md-parallax-2 -->


		<section id="md-pricing2" class="md-pricing">
			<div class="md-box">
				<div class="wrap1120">
					<div class="grid_16 md-content">
						<h1 class="md-title rs">Team</h1>
						<p class="md-description">SocialSway was founded by Bhaskar Ravi and David Paget. With backgrounds in predictive mathematics, analytics, and statistics, the pair took on the challenge of connecting healthcare providers with their audiences to increase trust and transparency in a time of major health reform. </p>
						<div class="pricing-table clearfix">
							<div class="grid_6 ml135percent">
								<h2 class="package">Bhaskar Ravi</h2>
								<span class="pricing">Co-Founder<br><br></span>
								<%= image_tag("BhaskarPicture.jpg", alt: "Bhaskar decided not to show up")%>
								<ul class="rs feature">
									<li><span class="bold"></span> Degree in Industrial Engineering and Management Sciences from Northwestern University, technology and innovation junkie, experience in predictive data analytics and structuring</li>
								</ul>
								<!--<a href="#" class="btn btn-color btn-green">Choose plan</a>-->
							</div>
							<div class="grid_6">
								<h2 class="package">David Paget</h2>
								<span class="pricing">Co-Founder<br><br></span>
								<%= image_tag("DavidPicture.jpg", alt: "Dave decided not to show up")%>
								<ul class="rs feature">
									<li><span class="bold"></span> MBA from Chicago Booth School of Business, former hedge fund executive, experience in statistical analysis and mathematics</li>
								</ul>
								<!--<a href="#" class="btn btn-color btn-orange">Choose plan</a>-->
							</div>
						</div><!-- /.pricing-table -->
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</section><!-- #md-pricing -->

<!--
		<section id="md-testimonials" class="md-parallax-3">
			<div class="parallax-bg"></div>
			<div class="md-box">
				<div class="wrap1120">
					<div class="grid_16 md-content">
						<div class="content-center">
	                        <div>
	                            <h1 class="md-title rs">What our clients say </h1>
								<div id="md-slider-2">
									<div class="content-effect">
										<p class="md-description">Etiam elementum lobortis massa, non ornare augue dapibus non. Donec laoreet in nibh quis bibendum. Aliquam erat volutpat.</p>
										<span class="line"></span>
										<p class="name-client">Neo Khuat, MegaDrupal</p>
									</div>
									<div class="content-effect">
										<p class="md-description">Etiam scelerisque imperdiet nulla. Aliquam eget nisl dignissim, lacinia quam at, condimentum nulla. Sed varius imperdiet nisi, ac varius felis aliquet sit amet.</p>
										<span class="line"></span>
										<p class="name-client">John Doe, Codecanyon</p>
									</div>
									<div class="content-effect">
										<p class="md-description">Donec in tristique velit, ac pulvinar eros. Mauris fermentum enim non condimentum dapibus. Phasellus facilisis mattis ipsum, at ornare sem congue nec.</p>
										<span class="line"></span>
										<p class="name-client">Jessy Doe, ThemeForest</p>
									</div>
								</div>
	                        </div>
						</div>
	                    <div class="switch" id="md-slider-2-switch"></div>
                    </div>
                    <div class="clear"></div>
				</div>
			</div>
		</section><!-- #md-parallax-3 -->
<!--
		<section id="md-slideshow" class="md-slideshow">
			<div class="md-box">
				<div class="wrap1120">
					<div class="md-content">
						<h1 class="md-title rs">This landing page included slideshow too</h1>
					</div>
				</div>
				<div class="slideshow">
					<div class="md-content" >
                        <div id="md-slider-3">
                            <div class="slide-center"><img src="img/bottomslide.jpg" alt="slideshow" /></div>
                            <div class="slide-center"><img src="img/bottomslide2.jpg" alt="slideshow" /></div>
                        </div>
                        <div id="md-slider-3-ctrl">
                            <i class="slide-next"></i>
                            <i class="slide-pre"></i>
                        </div>
					</div>
				</div>
			</div>
		</section><!-- #md-slideshow -->
		
	</div><!-- /.md-main-body -->
	<!-- /MAIN BODY -->

	<!-- FOOTER -->
	<footer class="md-footer">
		<div class="md-content">
			<div id="buy-now" class="buy-now">
				<h1 class="md-title rs">Interested?</h1>
				<p class="md-description"> Contact us at info@socialsway.com </p>
				<!--<div class="md-btn-group"><a href="#" class="btn btn-white">BUY THIS NOW</a></div>-->
			</div>
			<!--
			<div class="social-copyright">
				<span class="icon-facebook-sign"></span>
				<span class="icon-twitter-sign"></span>
				<span class="icon-linkedin-sign"></span>
				<span class="icon-pinterest-sign"></span>
				<p class="rs">© Copyright 2013 by BuzzLandi. All rights reserved.</p>
			</div>
			-->
		</div>
	</footer>
	<!-- /FOOTER -->
</body>
</html>